* {
  /* faire en sorte que la bordure et le padding soient calculés a l interieur du conteneur -> on change le mode de calcul du conteneur */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Kalam', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eff6fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  margin: 2rem;
  color: rgb(73, 156, 55);
  text-decoration: underline;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  margin: 1rem;
  color: rgb(95, 189, 12);
}

/* en tete */

.logoClean3000 {
  text-align: center;
  background-color: rgb(61, 61, 51);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* page d'acceuil */

.container {
  text-align: center;
  margin: 2rem;
}

.container input,
.container select,
.container textarea {
  width: 100%;
  border: 0.2rem solid rgb(61, 61, 51);
  border-radius: 1rem;
}

.bouton {
  margin: 1rem;
  border-color: rgb(61, 61, 51);
  background-color: rgb(61, 61, 51);
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 2rem 0.1rem rgb(61, 61, 51);
}

.bouton:hover {
  border-color: rgb(61, 61, 51);
  background-color: white;
  color: rgb(61, 61, 51);
  box-shadow: none;
}

/* page rendu */

.container .renduH1 {
  text-decoration: none;
  margin-right: 0;
  margin-left: 0;
}

.container .renduH2 {
  text-align: left;
  margin-right: 2rem;
  margin-left: 2rem;
}

.container .renduP {
  width: 100%;
  text-align: justify;
  padding: 1rem;
  border: 0.1rem solid rgb(61, 61, 51);
  margin: 0;
  color: rgb(61, 61, 51);
  border-radius: 2rem;
  background-color: white;
}

.renduP p {
  margin: 0;
  font-weight: bold;
}

.renduP .nomTech {
  margin-top: 2rem;
  text-align: right;
  font-weight: bold;
  font-size: 1.5rem;
}

.sign img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 20rem;
  max-height: 20rem;
}