* {
  /* faire en sorte que la bordure et le padding soient calculés a l interieur du conteneur -> on change le mode de calcul du conteneur */
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h1 {
  margin: 2rem;
  color: rgb(73, 156, 55);
  text-decoration: underline;
  font-size: 3.5rem;
  text-transform: uppercase;
}

h2 {
  margin: 1rem;
  color: rgb(95, 189, 12);
}

/* en tete */

.logoClean3000 {
  text-align: center;
  background-color: rgb(61, 61, 51);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* page d'acceuil */

.container {
  text-align: center;
  margin: 2rem;
}

.container input,
.container select,
.container textarea {
  width: 100%;
  border: 0.2rem solid rgb(61, 61, 51);
}

.container textarea {
 border-radius: 1rem;
}

.bouton {
  margin: 1rem;
  border-color: rgb(61, 61, 51);
  background-color: rgb(61, 61, 51);
  color: white;
  border-radius: 1rem;
}

.bouton:hover {
  border-color: rgb(61, 61, 51);
  background-color: white;
  color: rgb(61, 61, 51);
}

/* page rendu */